/* put in other two */
.componentContainer{
    display: flex;
    /* border: 4px dotted blue; */
    height: 200px;
    margin-top: 3rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.itemSingleContainer{
    /* border: 2px solid orange; */
    height: fit-content;
    width: 48%;
    padding: 0 1rem;
}

.nameAndPriceContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.itemName{
    font-weight: bold;
}

.itemPrice{
    font-weight: bold;
    color: green;
}

.itemDescription{
    font-size: 1.1rem;
    line-height: 1.25rem;
    width: 85%;
}


