.orderItemSingleContainer{
    /* padding: 50px 0; */
    /* border: yellow 3px solid; */
}

.picContainer{
    height: 400px;
    max-width: 900px;
    /* border: purple 3px solid; */
}

.orderItemPic{
    height: 100%;
    width: 100%;
    object-fit: cover;

}


@media screen and (max-width: 480px){
    .picContainer{
        height: 300px;
    }
}