.drinksContainer{
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    padding: var(--padding);
    /* background-color: red; */
}

.allDrinksPicsNTexContainer{
    display: flex;
    justify-content: center;
}


.drinksTitle{
    margin-bottom: 2rem;
}


.drinkImgAndTxtSingle{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 25.5rem;
    height: 205px;
    /* border: lime 5px solid; */
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    overflow: hidden;
}

.drinkPicTopContainer{
    position: relative;
    overflow: hidden;
    height: 100px;
    /* border: 1rem dotted black; */
}

.drinkImage{
    width: 100%;
}


.drinkTitle{
    position: absolute;
    bottom: 0;
    margin-left: 2rem;
    color: white;
    text-shadow: 
        -1px -1px 0 black,  
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
}

/* If .enlargeMan didn't exist, and backg color on, the drinkType
and drinkTime are outside of blue back, because they are out of normal
flow? And is there any way to make them stay in blue other than being lucky
that icon made it same height? Maybe give type and time same height as 
typeAndTime? */
.drinkTypeAndTime{
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    height: fit-content;
    /* margin-top: 1rem; -- could do this instead of top */
    /* background-color: blue; */
}

.drinkType{
 padding: 7px;
 border-radius: 3rem;
 font-size: 1rem;
 font-weight: bold;
 background-color: aqua;
 margin-right: 1rem;
}

.enlargeMan{
    font-size: 2rem;
    vertical-align: middle;
}

.drinkTime{
    padding: 8px 5px;
    border-radius: 3rem;
    background-color: rgb(251, 189, 43);
}






.drinkBelowPicContainer{
    display: flex;
    flex-direction: column;
    gap: .75rem;
    height: 100px;
    /* border: 4px dotted pink; */
    padding: 0 2rem;
}

.stars, .drinkDescription, .priceNButtonContainer{
    width: 100%;
    text-align: center;
}

.stars{
    font-size: 2rem;
    color: goldenrod;
    margin-top: .5rem;
}

.drinkDescription{
    font-size: 1.1rem;
    line-height: 1.6rem;
    /* background-color: lime; */
}

.priceNButtonContainer{
    display: flex;
    justify-content: space-between;
    /* background-color: black; */


}

.drinkPrice{
    font-weight: bold;
    /* background-color: yellow; */
}

.drinkAddButton{
    border: goldenrod 2px solid;
    border-radius: 9px;
    font-weight: bold;
    font-size: .8rem;
    padding: 5px 8px;
    cursor: pointer;
    /* background-color: red; */
}

@media screen and (max-width: 760px){
    .allDrinksPicsNTexContainer{
        gap:4.5rem;
    }

    .drinkImgAndTxtSingle{
        max-width: 275px;
    }
}

@media screen and (max-width: 480px){

    .drinkImgAndTxtSingle{
     width: 100%;
     max-width: 35.5rem;
     height: 300px;
     /* border: 4px red solid */
 }
 
 .drinkPicTopContainer{
     height: 190px;
 }
 
 .drinkBelowPicContainer{
     height: 110px;
 }
 
 .priceNButtonContainer{
     padding: 0 8rem;
 }
 
 }