.componentContainer{
    /* border: black 3px solid; */
    max-width: var(--max-width);
    padding: 3rem 6rem;
    margin: 0 auto;
}

.titleDirectionsFormContainer{
    /* border: blue 3px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    margin-bottom: 1.5rem;
}

.directions{
    /* border: 3px solid pink; */
    font-size: 1.2rem;
    width: 100%;
    line-height: 1.75rem;
}

.formContainer{
    margin-top: 2rem;
    width: 100%;
}

.foodAndDrinkDropContainer{
    display: flex;
    /* align-items: center; */
    /* border: green 3px solid; */
    justify-content: space-between;
}

.foodDropContainer, .drinkDropContainer{
    position: relative;
    /* border: 2px red solid; */
}

.itemAndPriceContainer{
    display: flex;
    justify-content: flex-end;
}

.itemInChoices{
    /* border: 2px solid red; */
    /* width: 4.5rem; */
    font-size: 1.1rem;
}

.priceInChoices{
    margin-left: 1.5rem;
    /* border: 2px solid black; */
    width: 5rem;
    font-size: 1.1rem;
    font-weight: bold;
}



.choices{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: .6rem;
    padding: 1rem;
    width: 100%;
    background-color: orange;
    color: white;
    cursor: pointer;
    border: .1rem rgba(178, 103, 11, 0.796) solid;
}

.choices > p{
    font-size: 1rem;
}




.foodButtonContainer, .drinkButtonContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .25rem 0 .8rem;
    /* border: 2px blue solid; */
    border-radius: 1rem;
    width: 350px;
    color: white;
    background-color: orange;
    border: .1rem rgba(178, 103, 11, 0.796) solid;
    margin-bottom: 0;
    cursor: pointer;
}

.noBottomBorder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .25rem 0 .8rem;
    /* border: 2px blue solid; */
    border-radius: 1rem 1rem 0rem 0rem;
    width: 350px;
    color: white;
    background-color: orange;
    /* margin-bottom: .5rem; */
}


.itemInChoices:hover {
    color: grey;
}

.dropIcon{
    font-size: 3rem;
}

.selectionListContainer{
    min-height: 70px;
}

.quantityNamePrice{
    display: flex;
    justify-content: end;
    font-size: 1.8rem;
    font-weight: bold;
    width: 100%;
    /* border: red solid 2px; */
}

.selectionListContainer{
    margin-top: 2rem;
}

.selectionName{
    margin-right: 2rem;
}

.selectionQuantity{
    margin-right: .75rem;
}

.totalAndPriceContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* border: red 3px solid; */
}

.subTotalContainer, .taxContainer, .priceContainer{
    display: flex;
    /* border: 2px solid purple; */
    justify-content: flex-end;
}

.subTotal, .tax, .totalTitle {
    margin-right: 2rem;
}

.totalTitle, .totalPrice{
    font-weight: bold;
}


.submitOrderContainer{
    /* border: 3px solid black; */
    display: flex;
    justify-content: flex-end;
}

.submitButton{
    background-color: darkorange;
    color: white;
    padding: .75rem;
    border-radius: 1rem;
    margin-top: 2.5rem;
    /* margin-right: 3.5rem; */
    font-size: 1.2rem;
    cursor: pointer;

}

.pointer:hover{
    cursor: pointer;
}


/* mobile */
@media screen and (max-width:480px){

    .foodButtonContainer, .drinkButtonContainer, .choices, .noBottomBorder{
        max-width: 170px;
    
    }
}
