.zoomGrandPContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 5;
    background: rgba(255, 255, 255, 0.38);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
    border: 1px solid rgba(255, 255, 255, 0.71);

}

.zoomParentContainer{
    width: 100%;
    max-width: 400px;
    max-height: 540px;
    overflow: hidden;
}

.closeIcon{
    /* width: 100%; */
    float: right;
}

.zoomDish{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popularContainer{
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    padding: var(--padding);
    /* border: 2px black solid; */
    margin-bottom: .5rem;
    /* border: red 2px dotted; */
    /*background-color: red; */
}

.allPopPicsAndTextContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 0 auto;
}

.popularTitle{
    margin-bottom: 2rem;
    /* border: green 2px solid; */

}
.popImgAndTxtSingle{
    /* display: flex;
    flex-direction: column; */
    /* position: relative; */
    width: 100%;
    max-width: 25.5rem;
    /* border: 2px blue solid; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 2rem;
    overflow: hidden;
    height: 205px;
    /* border: 4px red solid */
}

.popImgOnTop{
    position: relative;
    /* border: black solid 6px; */
    height: 100px;
    /* overflow: hidden; */
}

.popTextBelow{
    display: flex;
    flex-direction: column;
    gap: .75rem;
    height: 105px;
    padding: 0 2rem;
    /* border: blue 6px solid; */
}

.popImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border: lightblue 3px solid; */
}

.dishName{
    position: absolute;
    /* border: blue 4px solid; */
    bottom: .5rem;
    left: 2rem;
    color: white;
    text-shadow: 
        -1px -1px 0 black,  
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
}

.typeAndTime{
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    /* border: red 2px solid; */
}



.type{
    background-color: lightgreen;
    padding: 7px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 3rem;
    margin-right: 1rem;
}



.time{
    /* display: flex;
    align-items: center; */
    background-color: rgb(251, 189, 43);
    padding: 8px 5px;
    border-radius: 3rem;
    font-weight: bold;
}



.enlargeMan{
    font-size: 2rem;
    vertical-align: middle;
}

.dishStars, .dishDescription, .priceNButContainer{
    width: 100%;
    text-align: center;
}

.dishStars{
    margin-top: .5rem;
    color: goldenrod;
    font-size: 2rem;
    /* border: red 2px solid; */
}


.dishDescription{
    /* border: purple 2px solid; */
    height: 3rem;
    font-size: 1.1rem;
    line-height: 1.6rem;
}

.priceNButContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    width: 100%;
}

.dishPrice, .dishAddButton{
    font-weight: bold;
}


.dishAddButton{
    border: 2px solid goldenrod;
    border-radius: 9px;
    font-size: .8rem;
    font-weight: bold;
    padding: 5px 8px;
    cursor: pointer;
    
}



@media screen and (max-width: 760px){


    .allPopPicsAndTextContainer{
        gap: 4.5rem;
    }

    .popImgAndTxtSingle{
        max-width: 275px;
    }
}

@media screen and (max-width: 480px){

   .popImgAndTxtSingle{
    width: 100%;
    max-width: 35.5rem;
    height: 300px;
    /* border: 4px red solid */
}

.popImgOnTop{
    height: 190px;
}

.popTextBelow{
    height: 110px;
    /* padding: 0 2rem; */
}

.dishDescription{
    /* border: 2px blue solid; */
    height: 37px;
}

.priceNButContainer{
    /* display: flex;
    align-items: center; */
    /* border: 2px green solid; */
    padding: 0 8rem;

}

}