.componentContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 8rem);
    background-image: url("../../assets/chefHand.png");
    /* background-repeat: no-repeat; */
    background-size: contain;
    background-position: center;
    border: 4px dotted blue;

}

.menuLeftAndRightContainer{
    display: flex;
    /* margin: 0 auto; */
    width: 100%;
    max-width: 1000px;
    /* background-color: green; */
    height: 600px;
    border: 5px solid black;
    background-color: white;
}


.menuLeftContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 6px solid hotpink;
    width: 50%;
    gap: 4rem;
}

.restaurantLeftTitle{
    /* background-color: lightblue; */
    margin-top: 7rem;
    font-size: 5rem;
    text-align: center;
}

.menuImage{
    /* background-color: lightsalmon; */
}

.menuRightContainer{
    display: flex;
    flex-direction: column;
    border: 5px solid yellow;
    width: 50%;

}
.menuRightTitle{
    /* border: 2px red solid; */
    text-align: center;
    width: 300px;
    margin: 4rem auto 1.5rem auto;
    border-bottom: black solid;
    padding-bottom: 1rem;
}

.buttonsContainer{
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.foodButton{
    background-color: orange;
    border-radius: 2px;
    padding: 1rem;
    border-radius: 2rem;
}

.drinkButton{
    background-color: orange;
    border-radius: 2px;
    padding: 1rem;    
    border-radius: 2rem;
}


/* new stuff */

.allSingleContainer{
    display: flex;
    border: 4px dotted blue;
    height: 400px;
    margin-top: 2rem;
}

.itemSingleContainer{
    border: 2px solid green;
    height: fit-content;
    width: 50%;
}

.nameAndPriceContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.itemName{
    font-weight: bold;
}

.itemPrice{
    font-weight: bold;
    color: green;
}

.itemDescription{
    font-size: 1.1rem;
    line-height: 1.25rem;
    width: 85%;
}


@media screen and (max-width: 480px){
    .menuLeftAndRightContainer{
        flex-direction: column;
        height: 100%;
    }
    
    
    .menuLeftContainer, .menuRightContainer{
        width: 100%;
        height: 550px;
    }

    .componentContainer{
        height: fit-content;
    }
}


