.componentContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(241, 237, 237);
    min-height: calc(100vh - 8rem);
    width: 100%;
}

.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 400px;
    /* padding */
    max-width: var(--max-width);
    width: 100%;
     /* gap: 8rem; */
     background-color: rgba(241, 237, 237);
     box-shadow: 
     rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, /* Shadow at the bottom */
     rgba(0, 0, 0, 0.1) 0px -10px 15px -3px, /* Shadow at the top */
     rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; /* Additional shadow*/
    /* border: 2px  orange solid; */
    border-radius: 10px;
    
}
.formTitleContainer{
    display: flex;
    justify-content: center;
    /* border: 2px green solid; */
    width: 100%;
}

.formTitle{
    font-size: 2.5rem;
    color: black;
    font-weight: bold;
}

.formLeftAndRightInputs{
    display: flex;
    gap: 1rem;
    justify-content: center;
    /* border: 2px black solid; */
    /* max-width: 700px; */
    width: 100%;
    padding: 0 4rem;
}

.formLeftInputs{
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    /* border: 2px solid hotpink; */
    width: 50%;
}

.formRightInputs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* border: 2px solid orange; */
    width: 50%;
}

input, select, option{
    height: 2.75rem;
    font-size: 1.3rem;
    border-radius: 2px;
    padding: 0 .75rem;
    font-weight: bold;
}


textarea{
    height: 100%;
    color: black;
    font-size: 1.3rem;
    border-radius: 2px;
    padding: 0 .75rem;
    
}

.formSubmitButtonContainer{    
    display: flex;
    justify-content: center;
    /* border: 2px solid yellow; */
    width: 100%;
}

.formSubmitButton{
    padding: 1rem;
    border-radius: 1.5rem;
    color: white;
    background-color: orange;
}