.componentContainer{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    /* gap: 1rem; */
    background-color: rgba(241, 237, 237);
    min-height: calc(100vh - 8rem);
    /* border: 2px solid black; */

}


.h1AndParagraphAndPicContainer{
    display: flex;
    align-items: start;
    max-width: var(--max-width);
    width: 100%;
    gap: 1rem;
    /* border: 2px solid red; */
    margin-top: 7rem;
    margin-bottom: 1.5rem;

}

.h1AndParagraphContainer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* border: 2px solid hotpink; */
    width: 45%;
}

.hostPicContainer{
    /* border: 2px red solid; */
    width: 55%;
}

.hostPic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
}

.titleAboveForm{
    font-size: 5rem;
    font-weight: 100;
}

.paragraphAboveForm{
    /* border: green 2px solid; */
    width: 100%;
    line-height: 3rem;
}

.formContainer{
    /* border: 2px blue solid; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-evenly; */
    gap: 2rem;
    min-height: 400px;
    /* padding */
    max-width: var(--max-width);
    width: 100%;
     /* gap: 8rem; */
     background-color: rgba(241, 237, 237);
     /* box-shadow:  */
     /* rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, Shadow at the bottom */
     /* rgba(0, 0, 0, 0.1) 0px -10px 15px -3px, Shadow at the top */
     /* rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; Additional shadow */
    /* border: 2px  orange solid; */
    border-radius: 10px;
    
}
.formTitleContainer{
    display: flex;
    justify-content: center;
    /* border: 2px green solid; */
    width: 100%;
}

.formTitle{
    font-size: 1.5rem;
    color: black;
    /* border: 2px solid black; */
    width: 100%;
    /* padding: 0 4rem; */
}

.formLeftAndRightInputs{
    display: flex;
    gap: 3rem;
    justify-content: center;
    /* border: 2px black solid; */
    /* max-width: 700px; */
    width: 100%;
    /* padding: 0 4rem; */
    /* margin-bottom: 1rem; */
}

.formLeftInputs{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* border: 2px solid hotpink; */
    width: 50%;
}

.formRightInputs{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* border: 2px solid orange; */
    width: 50%;
}

input, select, option{
    height: 2.75rem;
    font-size: 1.3rem;
    border-radius: 2px;
    padding: 0 .75rem;
    font-weight: bold;
    border: 1px solid rgb(182, 148, 85);
}


textarea{
    height: 100%;
    color: black;
    font-size: 1.3rem;
    border-radius: 2px;
    padding: 0 .75rem;border: 1px solid rgb(182, 148, 85);
    
}
.paragraphAboveButton{
    /* border: 2px purple solid; */
    width: 80%;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.formSubmitButtonContainer{    
    display: flex;
    /* justify-content: center; */
    width: 100%;
}

.formSubmitButton{
    padding: 1rem;
    border-radius: 1.5rem;
    color: white;
    background-color: orange;
}

@media screen and (max-width: 480px){

    .componentContainer{
        padding: var(--padding);
    }

    .h1AndParagraphAndPicContainer{
        flex-direction: column;
        gap: 4rem;
        margin-top: 3rem;
    }

    .formLeftAndRightInputs{
        flex-direction: column;
    }

    .h1AndParagraphContainer, .hostPicContainer{
        width: 100%;
    }

    .formLeftInputs{
        width: 100%;
    }
    
    .formRightInputs{
        width: 100%;
    }


    textarea{
        height: 100px;
          
    }

    .formContainer{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .formSubmitButton{
        margin-top: 2rem;
    }

    .formTitle{
        margin-bottom: 2rem;
    }
    
}