.componentContainer{
    width: 100%;
    max-width: var(--max-width);
    padding:var(--padding);
    margin: 0 auto;
    /* height: 100%; */
    /* max-height: 200px; */
    border: 2px solid red; 
}

.reviewsContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: solid 2px blue;
}

.titleAndArrowsContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}


.arrowsContainer{
    display: flex;
    gap: 1rem;
    width: 100%;
    max-width: fit-content;
}


.leftArrowIcon, .rightArrowIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid 2px orange;
    color: black;
    width: 2rem;
    /* max-width: 3rem; */
    height: 2rem;
    /* max-height: 3rem; */
}




