:root {
  --max-width: 850px;
  --padding: 2rem;
}

/* this pushes all the content, except the nav that
has position fixed, to start 80px below top */
body{
    padding-top: 8rem;
    background-color: rgba(241, 237, 237);
  }


/* the parent */
.slick-list {
    /* border: 2px dotted blue; */
}

.slick-track{
  display: flex;
  /* border: 2px red dotted; */
}

  /* the slides */
  .slick-slide {
    margin-right: 1rem;
    /* gap: 0rem; */
    /* border: 4px black dotted; */
}

