html, body, *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	border: 0;
	font-size: 62.5%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	font-size: 1.5rem;
}

p{
	font-size: 1.5rem;
}

h1{
	font-size: 4rem;
}
h2{
	font-size: 3rem;
}

h3{
	font-size: 2rem;
}

h4{
	font-size: 1.6rem;
}

/* What is font size(the alt) for images and next time add the three commented out */
img{
	font-size: 1.5rem;
	/* width: 100%;
	height: 100%;
	object-fit: cover; */
}

button{
	font-size: 1.5rem;
}