.componentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem; 
    max-width: 100%;
    padding: var(--padding);
    height: fit-content;
    /* margin: 3rem auto 0 auto; */
    background-color:  rgb(246, 187, 116);
    /* border: 2px red solid; */
}

.icon{
    font-size: 25px;
}

.logoName{
    font-weight: bold;
    font-size: 20px;
}
/* I can make this more/less apart */
.topInfoContainer{
    display: flex;
    gap: 8.5rem;
    /* border: 2px yellow solid; */
}

.topInfoContainer > div{
    width: fit-content;
    margin-top: 3rem;
}

.bold{
    font-weight: bold;
}

/* FIRST CHILD */

.oneNameAndMission{
    display:flex;
    flex-direction: column;
    gap: .2rem;
    height: fit-content;
    /* border: 2px purple solid; */
    max-width: 200px;
    line-height: 2rem; 
}

.tagLine{
    font-size: 1.4rem;
    
}

.oneNameAndMission > p{
    font-size: 1.4rem;
}



/* 2nd CHILD: EXPLORE */
.twoExplore{
    /* border: 2px blue solid; */
    max-width: 200px;
    height: fit-content;
    line-height: 2rem;   
}
.twoExplore li{
    font-size: 1.5rem;
}

.twoExplore li:hover{
    color: green;
}

.explore{
    margin-bottom: .3rem;
}


/* 3rd CHILD: VISIT */

.threeVisit{
    display:flex;
    flex-direction: column;
    gap: 1.2rem;
    /* border: 2px black solid; */
    max-width: 200px;
    height: fit-content;
    line-height: 2rem;  
}

.visit{
    font-size: 1.5rem;
    font-style: normal;
    margin-bottom: .3rem;
}

.actualAddress{
    font-size: 1.5rem;
    font-style: normal; 
}

.contactUs{
    font-size: 1.5rem;
    margin-bottom: .3rem;
}

.contactContainer{
    line-height: 2rem;
}

.email, .num{
    font-size: 1.5rem;
}





/* 4th CHILD: FOLLOW */
.fourFollow{
    /* border: 2px hotpink solid; */
    max-width: 200px;
    height: fit-content;
    line-height: 2rem;
}

.follow{
    font-size: 1.5rem;
    margin-bottom: .3rem;
}

.fourFollow li a {
    font-size: 3.25rem;
}

.fourFollow li a:hover{
    color: green;
}

/* 5th CHILD: LEGAL */
.fiveLegal{
    /* border: 2px orange solid; */
    max-width: 200px;
    height: fit-content;
    line-height: 2rem;
}

.legal{
    font-size: 1.5rem;
    margin-bottom: .3rem;
}

.legalContainer li:hover{
        color: green;
}




.terms, .privacy{
    font-size: 1.5rem    
}

.botCopyrightContainer > p{
    /* border: green 2px solid; */
    font-size: 1.5rem;
}

@media screen and (max-width: 480px){
    .topInfoContainer > div{
        width: 50%;
    }

    .topInfoContainer{
        flex-wrap: wrap;
        
    }

    .topInfoContainer{
          gap: 0;
    }

    .oneNameAndMission, .threeVisit  {
        max-width: 168px;
        margin-right: 4rem;
    
    }
}
