.componentContainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    top: 0px;
    /* gap */
    width: 100%;
    background-color: rgb(241, 237, 237);

}

.navbarContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: var(--max-width);
    /* might have to redo padding var!! */
    /* padding: 0 var(--padding);  */
    padding-right: 6.5rem;
    height: 8rem;
    background-color: rgb(241, 237, 237);
    /* border: black .1px solid; */
}

.centerLinks{
    display: flex;
    gap: 3rem;
}

.centerLinks > a {
    font-size: 1.3rem;
}

.rightButtonComponent > button{
  background-color: black;
  font-size: 1rem;
  padding: 1rem 2rem;
  cursor: pointer; 
}

/* .logo{
    /* border: 4px red solid;
 } */

.burgerOrXIcon{
    display: none;
    cursor: pointer;
}


@media screen and (max-width: 480px){
    .burgerOrXIcon{
        display: block;
        color: green;
        /* border: red 2px solid; */
    }

    .logo{
        padding-left: 1.5rem;
    }

    .centerLinks, .rightButtonComponent{
        display: none;
    }

    .showLinks{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 70px;
        align-items: flex-end;
        padding-right: 2.5rem;
        padding-bottom: 2rem;
        /* border-radius: 0 0 2rem 2rem;; */
        /* padding-left: 10rem; */
        width: 100%;
        /* height: calc(100vh - 70px); */
        color: black;
        background-color:  rgb(241, 237, 237);
        /* border: 2px solid green; */
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

    .navbarContainer{
        padding-right: 2rem;
        /* border: 2px green solid; */
    }


    .showLinks > a {
        font-size: 1.5rem;
        /* border: 2px purple solid; */
        /* width: 7rem; */
    }
}


