.componentContainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    top: 0px;
    /* gap */
    width: 100%;
    background-color:  rgba(246, 187, 116);
    z-index: 5;

}

.centerLinks a:hover{
    color: green;
} 
 

.navbarContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: var(--max-width);
    /* might have to redo padding var!! */
    /* padding: 0 var(--padding);  */
    padding-right: 6.5rem;
    height: 8rem;
    background-color:  rgba(246, 187, 116, 0.4);
    /* border: black .1px solid; */
}

.centerLinks{
    display: flex;
    gap: 3rem;
}

.centerLinks > a {
    font-size: 1.3rem;
}

.navButtonComponentContainer{
    display: flex;
    align-items: center;
}

.cart{
    margin-left: .5rem;
    /* border: 2px solid blue; */
}

.amountAndCartContainer{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    /* border: 2px solid red; */
}

.cartAmount{
    font-size: 1.3rem;
    /* border: 2px solid green; */
    /* margin-left: .45rem; */
    position: absolute;
    right: 5px;
    top: -8px;
}

.navButtonComponentContainer > button{
  background-color: red;
  font-size: 1rem;
  padding: 1rem 2rem;
}

.navButtonComponent > button:hover{
    color: green;
}

/* .logo{
    /* border: 4px red solid;
 } */

.burgerOrXIcon{
    display: none;
    cursor: pointer;
}




.icon{
    font-size: 25px;
}

.logoName{
    font-weight: bold;
    font-size: 20px;
}



@media screen and (max-width: 760px){
    .navbarContainer{
        /* border: red solid 2px; */
        padding-left: 2rem;
        padding-right: 2.5rem;
    }

    .logo{
        /* padding-left: 1rem; */
        /* border: 2px orange solid; */
    }

    .centerLinks{
        /* border: blue 2px solid; */
        margin-left: 2rem;
    }

    .rightButtonComponent{
        /* border: yellow 2px solid; */
    }
}

@media screen and (min-width: 481px) and (max-width: 599px){
    .centerLinks, .rightButtonComponent{
        display: none;
    }

    .burgerOrXIcon{
        display: block;
        color: green;
    }
    .showLinks{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 7.5rem;
        right: 0;
        align-items: flex-end;
        background-color: rgba(246, 187, 116);
        padding-bottom: 4rem;
        /* border: 2px red solid; */
        width: 90%;
        padding-right: 7rem;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

    .navbarContainer{
     /* border: 2px green solid; */
 }

}
@media screen and (max-width: 480px){
    .burgerOrXIcon{
        display: block;
        color: green;
        /* border: red 2px solid; */
    }
    .logo{
        padding-left: 1.5rem;
    }
    .centerLinks, .rightButtonComponent{
        display: none;
    }
    .showLinks{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 70px;
        /* right: 0px; */
        align-items: flex-end;
        padding-right: 4.5rem;
        padding-bottom: 2rem;
        width: 100%;
        /* height: calc(100vh - 70px); */
        color: black;
        background-color: rgba(246, 187, 116);
        /* border: 5px solid green; */
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

    .navbarContainer{
           padding: 0 1rem;
        /* border: 2px green solid; */
    }


    .showLinks > a {
        font-size: 1.5rem;
        /* border: 2px purple solid; */
        /* width: 7rem; */
    }
}


